.fix-box {
    width: 250px;
    height: 250px;
    margin: 20px;
    border: 2px solid #555;
    cursor: pointer;
}

#master {
    border: 2px ridge #555;
    border-radius: 5px;
    width: 100%;
}

#children-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.subheading {
    text-align: center;
    color: #fff;
}